@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*데스크탑*/
@media screen and (min-width: 769px){
    #wrap{
        width: 100%;
        min-width: 1020px;
    }
    .section{
        width:1020px;
        margin: 0 auto;
    }
    .clear{
        clear:both;
        height: 0;
        overflow: hidden;
    }
    header{}

    #head-top{
        background-color: #333;
        color: #fff;
        overflow: hidden;
    }
    .topnavi{
        float: left;
    }
    .topnavi ul{}
    .topnavi li{
        float: left;
        font-family: 'NanumSquare', sans-serif;
    }
    .topnavi li:hover a{
        text-decoration: underline;
    }
    .topnavi li:first-child a{
        background: url(../jpg/home_icon.png) no-repeat left;
        padding-left: 20px;
    }
    .topnavi a{
        padding: 15px;
        float: left;
    }
    .topnavi span{ /* 상단 메뉴 바 사이 선 */
        height: 12px;
        border-right: 1px solid #555;
        float: right;
        margin-top: 18px;
    }

    .snsicon{
        float: right;
    }
    .snsicon #search_form{
        float: left;
        width: 260px;
        margin: 7px 5px;
        border: 2px solid #4887ff;
        height: 28px;
    }
    .snsicon #search_form #search_input{
        width: 195px;
        height: 28px;
        float: left;
        border: none;
        padding-left: 5px;
    }
    .snsicon #search_form #search_btn{
        height: 28px;
        float: left;
        width: 60px;
        border:none;
        background-color: #0093ff;
        color: white;
        font-weight: bold;
        font-family: 'NanumSquare', sans-serif;
    }
    .snsicon a{
        float: left;
        background: url(../jpg/sns_icon02.png);
        width: 28px;
        height: 28px;
        font-size: 0;
        line-height: 0;
        margin: 8px 5px;
    }
    .snsicon .sns1{
        background-position: 0 0;
    }
    .snsicon .sns2{
        background-position: -29px 0;
    }
    .snsicon .sns3{
        background-position: -58px 0;
    }

    .snsicon .sns1:hover{
        background-position: 0 -29px;
    }
    .snsicon .sns2:hover{
        background-position: -29px -29px;
    }
    .snsicon .sns3:hover{
        background-position: -58px -29px;
    }


    #head-bot{
        overflow: hidden;
    }
    #logo{
        float: left;
        margin: 1.1rem 0;
    }
    #logo a{
        display: block;
    }

    nav{
        float: right;
    }
    ul.m-menu{
        display: block;
    }
    ul.m-menu li{
        float: left;
        width: 90px;
        padding: 0rem 3rem;
    }

    /*
    ul.m-menu li:hover .s-menu{
        display:block;
    }
    */
    .s-menu{
        position: absolute;
        z-index: 9999;
        background: #fff;
        width: 100%;
        left: 0;
        top: 120px;
        border-top: 1px solid #0093ff;
        display: none;
    }
    .s-menu .float{
        float: right;
    }
    .s-menu dl{
        float: left;
        width: 90px;
        text-align: center;
        padding: 1rem 3rem;
        height: 11rem;
        font-family: 'NanumSquare', sans-serif;
        font-weight: bold;
    }
    /*
    .s-menu dt{
        font-size: 1.5rem;
        font-family: 'NanumSquare', sans-serif;
        font-weight: bold;
        padding-bottom: 1rem;
        border-bottom: 1px solid #5697ff;
        color: #5697ff;
    }
    */


    .s-menu dd{
        margin: 1rem 0;
        font-size: 13px;
    }
    .s-menu a:hover{
        text-decoration: underline;
    }

    .aborder{
        color:#3097ff; 
        border-bottom:2.7px solid #0093ff
    }

    /* main */
    ul.m-menu>li>a{
        padding: 25px 0 29px;
        display: block;
        font-size: 17px;
        letter-spacing: -1px;
        text-align: center;
        font-weight: bold;
        font-family: 'NanumSquare', sans-serif;
    }

    .navbar__toggleBtn{
        display: none;
    }

}

/*모바일*/
@media screen and (max-width: 768px){
    body{
        margin: 0;
    }
    #head-top{
        display: none;
    }
    #head-bot{
        display: flex;
    }
    #head-bot>.section{
        justify-content: space-between;
    }
    #logo{
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #head-bot>.section,
    #head-top>.section{
        flex-direction: column;
        display: flex;
        overflow: hidden;
        width: 100%;
    }
    .m-menu{
        flex-direction: column;
        display: none;
        align-items: center;
        width: 100%;
    }
    
    .s-menu{ /*서브메뉴*/
        display: none;
    }
    
    .m-menu>li{
        text-align: center;
        background-color: black;
        color: white;
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
        border-top: 0.5px solid #3e3e3e;
    }
    .m-menu>li:hover{
        background-color: #525252;
    }
    .m-menu>li>a{
        display: block;
        font-size: 17px;
    }
    
    .navbar__toggleBtn{
        display: block;
    }
    
    .navbar__toggleBtn{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        color: white;
        background-color: #2c2c2c;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
    }
    
    
}